# api-get.service

[Unit]
Description=API-Get Service
After=network.target

[Service]
ExecStartPre=/usr/bin/npm install
ExecStart=/usr/bin/npm run dev
WorkingDirectory=../bGames-API-GET
Environment=PORT=3001
Restart=always
User=1000

[Install]
WantedBy=multi-user.target