# website.service

[Unit]
Description=Website Service
After=network.target

[Service]
ExecStartPre=/usr/bin/npm install
ExecStart=/usr/bin/npm run serve
WorkingDirectory=../bGames-Website
Environment=PORT=8080
Restart=always
User=1000

[Install]
WantedBy=multi-user.target